.logos {
  margin-bottom: 127px;
  &__title {
    text-align: center;
    margin: 0;
    font-size: 13px;
    color: #606060;
    line-height: 1.2;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
    margin: 30px auto;
    width: 70%;
  }
}
//--------screens-------------
@media (max-width: 460px){
  .logos {
    &__container{
      justify-content: center;
    }
  }
}
