.as-good {
  margin-bottom: 170px;
  &__title{
    margin: 70px auto;
    text-align: center;
  }
  &__items {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;

  }
  &__item {
    max-width: 290px;
  }
}
