header {
  position: relative;
  height: 636px;
  margin-bottom: 160px;
  padding: 40px 80px 0;
  background-image: url("../../../assets/images/bg-grey.png");
  background-position: top;
  background-repeat: no-repeat;

  & .header-top {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      column-gap: 80px;
      row-gap: 30px;
    }
  }
  & .header-content {
    padding-top: 350px;
    &__img-box {
      position: absolute;
      top: 25%;
      left: 70px;
      opacity: 0;
      animation: slide-in-title 2s ease-in-out 0s 1 normal forwards;
    }
    &__img-title{
      display: block;
      max-width: 100%;
      height: auto;
    }
    &__subtitle {
      margin-bottom: 34px;
      width: 35%;
      color: #595959;
      font-weight: 400;
      line-height: 2;
      position: absolute;
      top: 45%;
      left: 70px;
      opacity: 0;
      animation: slide-in-subtitle 2s ease-in-out 0.5s 1 normal forwards;
    }
    &__btn {
      position: absolute;
      top: 390px;
      left: 70px;
      opacity: 0;
      animation: slide-in-btn 2s ease-in-out 0.75s 1 normal forwards;
    }
  }
  & .header-img {
    position: absolute;
    height: 900px;
    z-index: 1;
    top: 0;
    right: 0;
    opacity: 0;
    animation: slide-in 2s ease-in-out 1.25s 1 normal forwards;
    &__img {
      display: block;
      max-width: 100%;
      height: auto;
    }
  }
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(-70%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-in-title {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-in-subtitle {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slide-in-btn {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
