<!-- <nav mat-tab-nav-bar="nav-bar">
  <a mat-tab-link routerLink="/studio" routerLinkActive="active">studio</a>
  <a mat-tab-link routerLink="/community" routerLinkActive="active"
    >community</a
  >
  <a mat-tab-link routerLink="/sounds" routerLinkActive="active">sounds</a>
  <a mat-tab-link routerLink="/plugins" routerLinkActive="active">plugins</a>
  <a mat-tab-link routerLink="/blog" routerLinkActive="active">blog</a>
</nav> -->
<nav class="nav-bar">
  <ul class="nav-bar__list">
    <li class="nav-bar__item"><a class="nav-bar__link" routerLink="/studio" routerLinkActive="active">Studio</a></li>
    <li class="nav-bar__item"><a class="nav-bar__link" routerLink="/community" routerLinkActive="active">Community</a></li>
    <li class="nav-bar__item"><a class="nav-bar__link" routerLink="/sounds" routerLinkActive="active">Sounds</a></li>
    <li class="nav-bar__item"><a class="nav-bar__link" routerLink="/plugins" routerLinkActive="active">Plugins</a></li>
    <li class="nav-bar__item"><a class="nav-bar__link" routerLink="/blog" routerLinkActive="active">Blog</a></li>
  </ul>
</nav>
