<nav class="nav-bar">
  <ul class="nav-bar__list">
    <li class="nav-bar__item"><a class="nav-bar__link nav-bar__link-studio" routerLink="/studio" routerLinkActive="active" (click)="scrollToSection('stayInSection')">Studio</a></li>
    <li class="nav-bar__item nav-bar__item--second"><a class="nav-bar__link" routerLink="/community" routerLinkActive="active" (click)="scrollToSection('comeChangeSection')">Community</a></li>
    <li class="nav-bar__item nav-bar__item--thid"><a class="nav-bar__link" routerLink="/sounds" routerLinkActive="active" (click)="scrollToSection('findSoundSection')">Sounds</a></li>
    <li class="nav-bar__item nav-bar__item--foth"><a class="nav-bar__link" routerLink="/plugins" routerLinkActive="active" (click)="scrollToSection('buildYourSection')">Plugins</a></li>
    <li class="nav-bar__item"><a class="nav-bar__link" routerLink="/blog" routerLinkActive="active" (click)="scrollToSection('creatorsSection')">Blog</a></li>
  </ul>
</nav>
