<section class="find-sound">
  <div class="find-sound__wrapper">
    <p class="find-sound__up-title up-title">SOUNDS</p>
    <h3 class="find-sound__title title">Find your <span>sound</span></h3>
    <p class="find-sound__text text">Preview and download millions of royalty-free samples from top producers, artists, and sound designers. Available on desktop, web, and mobile.</p>
    <app-button buttonText="TRY SOUNDS"></app-button>
    <img class="find-sound__img" src="assets/images/img-findSound.png" alt="img-findSound">
  </div>
</section>
