<section class="build-your">
  <div class="build-your__img-block">
    <img class="build-your__img" src="assets/images/img-buildYour.png" alt="img-buildYour">
  </div>
  <div class="build-your__content">
    <p class="build-your__content-up-title up-title">PLUGINS</p>
    <h3 class="build-your__content-title title">Build your <span>digital studio</span></h3>
    <p class="text">Try industry-leading music software for free, pay it off over time and own it forever.</p>
    <app-button buttonText="TRY GEAR"></app-button>

  </div>
</section>
