.build-your {
  background-color: #F4F6F9;
  position: relative;
  padding-bottom: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  padding: 0 168px;
   &::before{
   content: "";
    position: absolute;
    background-image: url("../../../assets/images/bg-grey-midlle.png");
    background-repeat: repeat-y;
    width: 100%;
    height: 300%;
    z-index: -2;
   left: 0;
   top: -420px;

  }
  &__content {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
  }
}
