.build-your {
  background-color: #f4f6f9;
  position: relative;
  padding: 0 10px;
  margin-bottom: 50px;
  &::before {
    content: "";
    position: absolute;
    background-image: url("../../../assets/images/bg-grey-midlle.png");
    background-repeat: repeat-y;
    width: 100%;
    height: 300%;
    z-index: -2;
    left: 0;
    top: -420px;
  }
  &__img{
    display: block;
    max-width: 100%;
    height: auto;
  }
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 230px;
    row-gap: 30px;
  }

  &__content {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
  }
}
//--------screens-------------
@media (max-width: 1191px){
  .build-your{
    &__img-block{
      order: 2;
    }

  }
}

@media (max-width: 1050px){
  .build-your{
    &__wrapper{
      text-align: center;
    }

  }
}
