<footer class="footer">
  <div class="footer-wrapper">
    <div class="footer-logo">
      <app-logo></app-logo>
      <p class="footer-copy">&copy; 2021 Splice.com All Rights Reserved</p>
    </div>
    <div class="footer-info">
      <div class="footer-info__item">
        <h4 class="footer-info__title">STUDIO</h4>
        <ul>
          <li><a href="#">Features</a></li>
          <li><a href="#">About Splice Studio</a></li>
          <li><a href="#">Managing Your Production Library</a></li>
          <li><a href="#">Collaborating with Baewatch</a></li>
        </ul>
      </div>
      <div class="footer-info__item">
        <h4 class="footer-info__title">COMMUNITY</h4>
        <ul>
          <li><a href="#">Ableton Live Projects</a></li>
          <li><a href="#">FL Studio Projects</a></li>
          <li><a href="#">Logic Pro X Projects</a></li>
          <li><a href="#">Garageband Projects</a></li>
          <li><a href="#">Remix Contests</a></li>
          <li><a href="#">Tiestos Secrets</a></li>
        </ul>
      </div>
      <div class="footer-info__item">
        <h4 class="footer-info__title">SOUNDS</h4>
        <ul>
          <li><a href="#">Features</a></li>
          <li><a href="#">Catalog</a></li>
          <li><a href="#">How Jauz Uses Sounds</a></li>
          <li><a href="#">deadmau5s Chimaera</a></li>
          <li><a href="#">KSHMR Vol. 2</a></li>
        </ul>
      </div>
      <div class="footer-info__item">
        <h4 class="footer-info__title">PLUGINS</h4>
        <ul>
          <li><a href="#">Top VSTs</a></li>
          <li><a href="#">Serum</a></li>
          <li><a href="#">Rent to Own</a></li>
          <li><a href="#">Free Plugins</a></li>
          <li><a href="#">Top Manufacturers</a></li>
        </ul>
      </div>
      <div class="footer-info__item">
        <h4 class="footer-info__title">BEATMAKER</h4>
        <ul>
          <li><a href="#">Create Your Own Beat</a></li>
          <li><a href="#">Wakapella</a></li>
          <li><a href="#">Just Blaze</a></li>
        </ul>
      </div>
      <div class="footer-info__item">
        <h4 class="footer-info__title">BLOG</h4>
        <ul>
          <li><a href="#">Latest Posts</a></li>
          <li><a href="#">Using Soundtoys Decapitator</a></li>
          <li><a href="#">Mastering 101</a></li>
          <li><a href="#">Producing Future Beats</a></li>
          <li><a href="#">Belonging at Splice</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-social">
      <h4 class="footer-info__title">FIND US ON SOCIAL</h4>
      <div class="footer-social__icons">
        <a href="#"><img src="assets/images/social/fb-icon.png" alt="facebook" /></a>
        <a href="#"><img src="assets/images/social/in-icon.png" alt="twiter" /></a>
        <a href="#"><img src="assets/images/social/tw-icon.png" alt="instagr" /></a>
        <a href="#"><img src="assets/images/social/yt-icon.png" alt="youtube" /></a>
      </div>
      <div class="footer-social__links">
        <ul>
          <li><a href="#">Terms of Use</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Jobs</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Help</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
