<footer class="footer">
  <div class="footer-wrapper">
    <div class="footer-logo">
      <app-logo></app-logo>
      <p class="footer-copy">2021 Splice.com All Rights Reserved</p>
    </div>
    <div class="footer-info">
      <div class="footer-info__item">
        <h4 class="footer-info__title">STUDIO</h4>
        <ul>
          <li>Features</li>
          <li>About Splice Studio</li>
          <li>Managing Your Production Library</li>
          <li>Collaborating with Baewatch</li>
        </ul>
      </div>
      <div class="footer-info__item">
        <h4 class="footer-info__title">COMMUNITY</h4>
        <ul>
          <li>Ableton Live Projects</li>
          <li>FL Studio Projects</li>
          <li>Logic Pro X Projects</li>
          <li>Garageband Projects</li>
          <li>Remix Contests</li>
          <li>Tiestos Secrets</li>
        </ul>
      </div>
      <div class="footer-info__item">
        <h4 class="footer-info__title">SOUNDS</h4>
        <ul>
          <li>Features</li>
          <li>Catalog</li>
          <li>How Jauz Uses Sounds</li>
          <li>deadmau5s Chimaera</li>
          <li>KSHMR Vol. 2</li>
        </ul>
      </div>
      <div class="footer-info__item">
        <h4 class="footer-info__title">PLUGINS</h4>
        <ul>
          <li>Top VSTs</li>
          <li>Serum</li>
          <li>Rent to Own</li>
          <li>Free Plugins</li>
          <li>Top Manufacturers</li>
        </ul>
      </div>
      <div class="footer-info__item">
        <h4 class="footer-info__title">BEATMAKER</h4>
        <ul>
          <li>Create Your Own Beat</li>
          <li>Wakapella</li>
          <li>Just Blaze</li>
        </ul>
      </div>
      <div class="footer-info__item">
        <h4 class="footer-info__title">BLOG</h4>
        <ul>
          <li>Latest Posts</li>
          <li>Using Soundtoys Decapitator</li>
          <li>Mastering 101</li>
          <li>Producing Future Beats</li>
          <li>Belonging at Splice</li>
        </ul>
      </div>
    </div>
    <div class="footer-social">
      <h4 class="footer-info__title">FIND US ON SOCIAL</h4>
      <div class="footer-social__icons">
        <a href="#"><img src="assets/images/social/fb.png" alt="facebook" /></a>
        <a href="#"><img src="assets/images/social/in.png" alt="twiter" /></a>
        <a href="#"><img src="assets/images/social/tw.png" alt="instagr" /></a>
        <a href="#"><img src="assets/images/social/yt.png" alt="youtube" /></a>
      </div>
      <div class="footer-social__links">
        <ul>
          <li><a href="#">Terms of Use</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Jobs</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Help</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
