.footer {
  &-wrapper{
    margin: 0 85px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    column-gap: 20px;
  }
  &-logo{
    grid-column: 1;
    grid-row: 1 / span 2;
  }
  &-copy,
  &-social__links {
    font-size: 10px;
    line-height: 2;
    color: #606060;
  }
  &-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    &__title {
      font-size: 19px;
      line-height: 1.5;
      color: #0c0c0c;
      font-weight: 900;
    }
    & li {
      font-size: 13px;
      line-height: 2;
      color: #606060;
    }
  }
  &-social {
    grid-column: 3;
    grid-row: 1 / span 2;
    &__icons {
      margin-top: 20px;
      img {
        margin-right: 20px;
      }
    }
    &__links ul {
      display: flex;
      flex-wrap: wrap;
      column-gap: 30px;
      row-gap: 10;
    }
    &__links li a:hover{
      text-decoration: underline;
    }
  }
}
