.testimonial{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  background-color: #202020;
  color: #ffff;
  padding: 28px;
  max-width: 290px;
  height: auto;
  border-radius: 3px;
  &__about{
    font-size: 18px;
    margin: 0 0 20px 0;
  }
  &__auth{
    display: flex;
    justify-content: left;
    align-items: center;
    column-gap: 10px;
  }
  &__date--name{
    font-size: 11px;
    margin: 0;

  }
  &__date--position{
    font-size: 8px;
  }
}
