<h2 class="form__title">Login</h2>
<form (ngSubmit)="login()">
  <div>
    <label class="form__label" for="username">Username</label>
    <input class="form__input" type="text" id="username" name="username" required />
  </div>
  <div>
    <label class="form__label" for="password">Password</label>
    <input class="form__input" type="text" id="password" name="password" required />
  </div>
  <button class="form__btn" type="submit">Login</button>
  <button class="form__btn" type="button" (click)="closeLogin()">Close</button>
</form>
