<section class="stay-in">
  <div class="stay-in__content">
    <p class="stay-in__content-up-title up-title">STUDIO</p>
    <h3 class="stay-in__content-title title">Stay in <span>sync</span></h3>
    <p class="text">
      Try industry-leading music software for free, pay it off over time and own
      it forever.
    </p>
    <app-button buttonText="TRY STUDIO"></app-button>
  </div>
  <div class="stay-in__img-block">
    <img
      class="stay-in__img"
      src="assets/images/img-stayIn.png"
      alt="img-buildYour"
    />
  </div>
</section>
