.auth-buttons {
  & .auth-buttons__btn {
    border: none;
    background-color: unset;
    color: #fff;
    letter-spacing: 1px;
    padding: 10px 30px;
    border-radius: 105px;
    &:hover {
      backdrop-filter: blur(2.5px);
      background-color: #ffffff42;
      cursor: pointer;
    }
  }
  & .auth-buttons__btn:not(:first-child) {
    margin-left: 1px;
  }
}
//-----screens-------------------------
@media (max-width: 1160px){
  .auth-buttons{
    & .auth-buttons__btn{
      padding: 7px 15px;
    }

  }
}

@media (max-width: 13500px){
  .auth-buttons{
    & .auth-buttons__btn{
      font-size: 12px;
      padding: 5px 10px;
    }

  }
}
