// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$splice-angular-primary: mat.define-palette(mat.$indigo-palette);
$splice-angular-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$splice-angular-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$splice-angular-theme: mat.define-light-theme(
  (
    color: (
      primary: $splice-angular-primary,
      accent: $splice-angular-accent,
      warn: $splice-angular-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($splice-angular-theme);

/* You can add global styles to this file, and also import other style files */
@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;700&display=swap");

body {
  font-family: "Inconsolata", monospace;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
  letter-spacing: 1px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  height: 100%;
}

.up-title {
  font-size: 16px;
  line-height: 1.1;
  color: #60606080;
  font-weight: 800;
  letter-spacing: 0;
  margin: 0;
}
.title {
  color: #272727;
  font-size: 48px;
  line-height: 1.1;
  font-weight: 900;
  margin: 0;
  & span {
    color: #0033ff;
  }
}
.text {
  font-size: 18px;
  line-height: 1.7;
  color: #958a8a;
}
ul {
  list-style-type: none;
  padding: 0;
}
a {
  cursor: pointer;
  color: unset;
  text-decoration: none;
}

h2,h4{
  margin: 0;
}

.form{
  &__title,  &__label, &__input, &__btn{
    margin: 10px;
  }

  &__title {
    font-size: 18px;
    color: #786f6f;
    line-height: 1.5;
    letter-spacing: 1.5px;
    text-align: center;
  }
  &__label{
    font-size: 12px;
  line-height: 1.7;
  color: #958a8a;
  }
  &__input{
    width: 90%;
    outline: none;
    border-color: #958a8a7c;
    line-height: 2;
  }
  &__btn{
    width: 90%;
    background-color: #d5c4c4;
    border: inherit;
    color: #786f6f;
    line-height: 2;
    font-size: 16px;
    font-weight: 700;
    &:hover{
      background-color: #c2b3b3;
    }
  }
}
